<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Files directory -->
    <add key="HairSalonFolder" value="C:\Documents and Settings\All Users\Ayitech Solutions\Braiding Salon" />
    <add key="InstalledDefaultPic" value="C:\Program Files\Ayitech Solutions\Braiding Salon Manager\Resources\default.jpg"/>
    <!-- Company Information 
    <add key="Company" value="Charlotte African Hair Braiding" />
    <add key="Street" value="14202 Old Dock Lane"/>
    <add key="City" value="Houston,"/>
    <add key="State" value="TX"/>
    <add key="ZipCode" value="77090"/>
    <add key="Telephone" value="(713) 291-0797"/>
    <add key="Website" value="http://www.charlottebraiding.com"/>
    <add key="Copyright" value="© 2011 Charlotte African Hair Braiding. All rights reserved."/>
    <add key="TaxRate" value="0.00"/>
    -->
    <!-- General -->
    <add key="MsgBoxHead" value="Ayitech Solutions" />
  </appSettings>
</configuration>